@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');



.pending{
  color: orange;
}
.success{
  color: green;
}

.content{
  .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 40vh;
    .specific-font{
      font-family: 'Architects Daughter', cursive;
      font-size: 30px;
    }
  }
  .logs{
    margin: 0 auto;
    .mat-table{
      width: 100%;
    }
  }
}
