<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>emoji_emotions</mat-icon>
    <span>Status Update [Test-Task]</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Send request</mat-card-title>

      <mat-card-actions>
        <div class="example-button-container">
          <button mat-fab color="primary">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </mat-card-actions>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>

  </mat-grid-tile>
</mat-grid-list>
