<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>emoji_emotions</mat-icon>
    <span>Status Update [Test-Task]</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <div>
    <mat-card>
      <mat-card-title>Send request</mat-card-title>
      <mat-card-actions>
        <div>
          <button *ngIf="!loading" mat-fab color="primary" (click)="sendRequest()">
            <mat-icon >send</mat-icon>
          </button>

          <mat-spinner diameter="50" *ngIf="loading"></mat-spinner>

        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card *ngIf="gotAnAnswer">
      <mat-card-title>Status:</mat-card-title>
      <mat-card-content>
        <div class="success">
          <p class="specific-font">{{answer?.status}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
